@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body {
	margin: 0;
	padding: 0;
}


#box {
	font-size: 100px;
	text-align: center;
	/*center verticaly*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	color: white;
	font-size: 100px;
	font-family: 'Prosto One', cursive;
}

span {
	color: white;
	font-size: 50px;
	position: absolute;
	top: 1%;
	right: 1%;
	font-family: 'Monoton', cursive;
}